body {
	background-color: black;
}

.wrapper {
	width: 600px;
	margin: auto;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	height: 560px;
	width: 560px;
	border: 3px solid white;
	background-color: white;
}

.grid div {
	width: 20px;
	height: 20px;
}

.pac-dot {
	background-color: green;
	border: 5px solid white;
	box-sizing: border-box;
}

.wall {
	background-color: blue;
}

.power-pellet {
	background-color: green;
	border-radius: 10px;
}

.pac-man {
	background-color: yellow;
	border-radius: 50%;
}

.blinky {
	background-color: red;
	border: 0px;
}

.pinky {
	background-color: hotpink;
	border: 0px;
}

.inky {
	background-color: cyan;
	border: 0px;
}

.clyde {
	background-color: orange;
	border: 0px;
}
.scared-ghost {
	background-color: aqua;
}

.text {
	display: flex;
	width: 560px;
	justify-content: space-between;
	color: white;
}

.play-again,
.play-again:link,
.play-again:visited {
	display: none;
	text-decoration: none;
	background-color: blue;
	color: white;
	padding: 2px 5px;
	height: 20px;
	margin-top: 15px;
}
